<ScrollView>
  <FlexboxLayout class="detailPage">
    <StackLayout class="form">
      <Label class="formLabel" text="Name"></Label>
      <TextField [ngrxFormControlState]="form.controls.name" height="60" class="input input-border m-b-10"></TextField>

      <Label text="URL"></Label>
      <StackLayout orientation="horizontal" height="60" class="input input-border m-b-10">
        <TextField [ngrxFormControlState]="form.controls.url" class="detailInput urlInput"></TextField>
        <Button width="40" *ngIf="!isNew && form.value.url" (tap)="goToUrl()" class="url-button"></Button>
      </StackLayout>

      <Label text="Username"></Label>
      <StackLayout orientation="horizontal" height="60" class="input input-border m-b-10">
        <TextField [ngrxFormControlState]="form.controls.username"
          [class.userInputNew]="isNew"
          [class.tabletUserInput]="isTablet"
          [class.userInput]="!isNew && !isTablet"
          class="detailInput"
        ></TextField>
        <Button *ngIf="!isNew" width="40" (tap)="copyUsername()" class="{{ usernameCopied ? 'copied-button' : 'copy-button' }} icons"></Button>
      </StackLayout>

      <Label text="Password"></Label>
      <StackLayout orientation="horizontal" height="60" class="input input-border m-b-10" *ngIf="!isNew && passwordIsMasked">
        <TextField
          [ngrxFormControlState]="form.controls.password"
          secure="true"
          (focus)="clickMaskedSecret()"
          [class.tabletPasswordInput]="isTablet"
          [class.passwordInput]="!isTablet"
          class="detailInput"
        ></TextField>
        <FlexboxLayout width="30%">
          <Button class="icons eye-button" (tap)="togglePasswordIsMasked.emit()"></Button>
          <Button class="icons {{ passwordCopied ? 'copied-button' : 'copy-button' }}" (tap)="copyPassword()"></Button>
        </FlexboxLayout>
      </StackLayout>
      <StackLayout orientation="horizontal" height="60" class="input input-border m-b-10" *ngIf="isNew || !passwordIsMasked">
        <TextField
          #realPasswordInput
          [ngrxFormControlState]="form.controls.password"
          [class.newPasswordInput]="isNew"
          [class.tabletPasswordInput]="isTablet"
          [class.passwordInput]="!isNew && !isTablet"
          class="detailInput"
        ></TextField>
        <FlexboxLayout width="30%">
          <Button *ngIf="!isNew" class="icons eye-slash-button" (tap)="togglePasswordIsMasked.emit()"></Button>
          <Button *ngIf="!isNew" class="{{ passwordCopied ? 'copied-button' : 'copy-button' }} icons" (tap)="copyPassword()"></Button>
        </FlexboxLayout>
        <Button *ngIf="isNew" (tap)="generatePassword.emit()" class="dice">
          <Span style="font-size:38px;" text="&#x2682;"></Span>
        </Button>

      </StackLayout>

      <Label *ngIf="!showNotes" text="Add Notes" (tap)="toggleShowNotes.emit()" class="m-b-10"></Label>
      <Label *ngIf="showNotes" text="Notes" (tap)="toggleShowNotes.emit()"></Label>
      <TextView *ngIf="showNotes" [ngrxFormControlState]="form.controls.notes" height="100" class="input input-border m-b-10"></TextView>

      <Label text="Saved!" class="saved-confirm" *ngIf="isUpdated"></Label>

      <Button class="submit-button" [text]="'save'" (tap)="onSubmit()"></Button>
      <Button *ngIf="!isNew" text="delete" (tap)="onDeleteSecret()"></Button>

    </StackLayout>
  </FlexboxLayout>
</ScrollView>
