<div class="form-field form-field--large">
  <div class="form-field__wrapper-for-link">
    <app-form-label
      [for]="ngrxFormControl.id"
      [isLarge]="true"
      [isComplete]="isComplete"
    >
      {{ label }}
    </app-form-label>
    <ng-content></ng-content>
  </div>
  <div [class.register-step__verified-input]="isComplete">
    <input
      [type]="type"
      autofocus
      [disabled]="isComplete"
      [ngrxFormControlState]="ngrxFormControl"
      class="form-field__input"
      [ngClass]="{
        'form-field__input--invalid': hasErrors() && isFormSubmitted
      }"
      [class.verified-content]="isComplete"
      [tabindex]="tabIndex"
    />
  </div>
</div>
