<DockLayout stretchLastChild="true" class="auth-container">
    <StackLayout class="auth-form-body">
        <FlexboxLayout flexDirection="row" alignItems="center" justifyContent="space-between" class="auth-header">
            <app-heading text="Reset Password"></app-heading>
            <app-button
                height="36"
                text="Back to Login"
                type="border"
                (tap)="goToLogin()"
            ></app-button>
        </FlexboxLayout>

        <StackLayout orientation="vertical">
            <Label class="p-10 m-b-10" *ngIf="errorMessage" [text]="errorMessage" backgroundColor="#f0f0f0" flexGrow="1"></Label>

            <app-text-field
                autocorrect="false"
                autocapitalizationType="none"
                label="Email"
                type="email"
                returnKeyType="next"
                [isFormSubmitted]="form.isSubmitted"
                [ngrxFormControl]="form.controls.email"
            ></app-text-field>

            <Label
                *ngIf="form.errors._email && form.isSubmitted"
                class="text-label text-label--error"
                text="Enter your account's email address."
                textWrap="true"
            ></Label>


            <app-server-select
                *ngIf="!hasFinished"
                [showUrlControl]="form.controls.showUrl"
                [urlControl]="form.controls.url"
                [formErrors]="form.errors"
            ></app-server-select>
        </StackLayout>

    </StackLayout>

</DockLayout>
