<div class="register-step__feedback">
  Your backup code is the <strong>only</strong> way to recover your account if you forget your password.
</div>
<div class="register-step__feedback">
  Download it, print it out, and save it someplace safe.
</div>

<div class="u-margin-b-20">
  <button id="backup-download-button" class="button button--primary" (click)="download()">
    Download
  </button>

  <button class="button button--text u-margin-l-5" id="backup-skip" href="javascript:void(0)" (click)="skip()">
    Skip (not recommended)
  </button>
</div>