<DockLayout stretchLastChild="true">

    <StackLayout dock="bottom" class="auth-actions">
        <FlexboxLayout
            flexDirection="row"
            alignItems="center"
            justifyContent="space-between">
            <app-button
                type="text"
                text="Skip (not recommended)"
                (tap)="goToNext.emit()"
            ></app-button>
            <app-button
                width="150"
                text="Download"
                (tap)="download()"
            ></app-button>
        </FlexboxLayout>
    </StackLayout>

    <ScrollView>
        <StackLayout class="auth-form-body">

            <StackLayout class="auth-header">
                <app-heading text="Backup Code"></app-heading>
            </StackLayout>

            <FormattedString>
                <Span text="Your backup code is the "></Span>
                <Span text="only" class="font-weight-bold"></Span>
                <Span text=" way to recover your account if you forget your password."></Span>
            </FormattedString>

            <Label
                class="text-label m-b-30"
                text="Download it, print it out, and save it someplace safe."
                textWrap="true"
            ></Label>

        </StackLayout>
    </ScrollView>
</DockLayout>
