<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<StackLayout>
  <page-router-outlet></page-router-outlet>
</StackLayout>
<!-- <Label text="Entry Component works" textWrap="true"></Label> -->
